---
layout: default
title: Lessons
permalink: /lessons/
---


<article class="container-page">
  <h1 class="page-title">{{ site.data.lang[site.language].categories_title }}</h1>
  <ul class="categories-list" style="list-style-type: none;">
    {% for category in site.categories %}
{% comment %}
Find all tags in category for display : disp_tags
Posts can only have one tag and one category
Post date used to order not actual shown 
{% endcomment %}

    {% assign disp_tags = '' %}
    
    {% for post in site.posts %}
      {% if post.categories contains category[0] %} 
        {% assign disp_tags = disp_tags | append: post.tags[0] | append: "," %}
      {% endif %}
    {% endfor %} 
    {% assign disp_tags = disp_tags | split: "," | uniq %}

    <li id="{{ category | first }}">
      <div class="category-name">
        <h2>{{ category | first }}</h2>
      </div>


      <ul class="categories-list" style="list-style-type: none;">
        {% for tag in disp_tags %}
        <li id="{{ tag }}">
        <div class="category-name">
          <h3>{{ tag }}</h3>
        </div>
        {% assign sorted_posts = site.posts | sort: 'date' %}
        {% for post in sorted_posts %}
          {% if post.categories contains category[0] and post.tags contains tag %}
          <div class="posts-list-item">
            <span class="posts-list-item-name float-left"><a href="{{ post.url }}">{{ post.title }}</a></span>
          </div>
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
  </ul>
</article>