---
layout: default
---

<article class="container-post">
  <div class="post-other">
    {% if page.next %}
    <div>
        {% if page.previous %}
          <a href="{{ page.previous.url }}" align="left">
            previous
          </a>
        {% endif %}
      <a href="{{ page.next.url }}" align="right">
        next
      </a>
    </div>
    {% endif %}
  </div>
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  {% if site.name %}
  <div class="post-author print-post-author">
    <span>{{ site.name }}</span>
  </div>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  <div class="post-info">
    <div class="post-date">
      {{ site.data.lang[site.language].post_update_date}}
      {{ page.last_modified_at | date: '%Y-%m-%d' }}
    </div>
    {% if site.name %}
    <div class="post-author">
      {{ site.data.lang[site.language].post_author }}{{ site.name }}
    </div>
    {% endif %}
    <div class="post-categories">
      <span>{{ site.data.lang[site.language].post_categories }}</span>
      {% for category in page.categories %}
        <span>{{ category }}</span>
      {% endfor %}
    </div>
    <div class="post-tags">
      <span>{{ site.data.lang[site.language].post_tags }}</span>
      {% for tag in page.tags %}
      <span class="post-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="post-other">
      {% if page.next %}
      <div>
        <a href="{{ page.next.url }}">
          Next: {{ page.next.title }}
        </a>
      </div>
      {% endif %}
      {% if page.previous %}
      <div>
        <a href="{{ page.previous.url }}">
          Previous: {{ page.previous.title }}
        </a>
      </div>
      {% endif %}
    </div>
    {% if site.comments %}
      {% include comments.html %}
    {% endif %}
  </div>
</article>
